<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Template</title>

  <link rel="stylesheet" href="stylesheets/bootstrap.css">
  <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>

  <div class="container-fluid">
    <h1 class="display-1 text-center">The Template</h1>
  </div>


  <footer class="bg-light text-center text-lg-start footer">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      By Kahliliman © 2020 Copyright:
      <a class="text-dark" href="https://www.instagram.com/kaligraviz/">Kaligraviz</a>
    </div>
  </footer>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="javascript/bootstrap.bundle.js"></script>
</body>

</html>