<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Template</title>

  <link rel="stylesheet" href="stylesheets/bootstrap.css">
  <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>

  <div class="container-fluid">

    <div class="row">
      <div class="col-lg-4 col-md-8 col-sm-2 content">
        <h1 class="page-header">This is the title</h1>
        <p class="text-left">This is the caption</p>
        <p class="text-right">This is the caption</p>
        <p class="text-center">This is the caption</p>
        <p class="text-justify">This is the caption</p>
        <p class="text-nowrap">This is the caption</p>
      </div>
      <div class="col-lg-2">

      </div>
      <div class="col-lg-4 col-md-4 col-sm-10 content">
        <h1>This is the title</h1>
        <p class="lead">This is the caption</p>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          This is a primary alert—check it out!
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="javascript/bootstrap.bundle.js"></script>
</body>

</html>